---
import { getCollection, type CollectionEntry } from 'astro:content';
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import PostCard from '../components/PostCard.astro';

const posts = await getCollection('blog');
---

<Layout>
    <main class="grid grid-cols-1 gap-x-8 gap-y-10 px-6 pt-10 pb-16 sm:px-12 md:grid-cols-3">
        {posts.map((post) => (
          <PostCard {...post.data} href={`/blog/${post.id}`} />
        ))}
    </main>
</Layout>
